body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 20;
    text-align: center;
    margin: 20px 0 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.main-news {
    width: 70%;
}

.main-news h2 {
    font-size: 2em;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


.main-news article {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.main-news article img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.main-news article h3 {
    font-size: 2em;
    margin: 10px 0;
}

.sidebar {
    width: 25%;
}

.sidebar h2 {
    background: #333;
    color: #fff;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 10px;
    font-size: larger;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
